<mgl-geojson-source id="{{id}}-source">
  @for (marker of treesList; track marker.treeId) {
    <mgl-feature [geometry]="{
                              type: 'Point',
                              coordinates: [marker.lng, marker.lat]
                            }">
    </mgl-feature>
  }
</mgl-geojson-source>
<mgl-layer id="{{id}}-layer" type="circle" source="{{id}}-source" [paint]="{
                          'circle-color': color,
                          'circle-radius': markerRadius,
                          'circle-stroke-color': strokeColor,
                          'circle-stroke-width': strokeWidth,
                          'circle-opacity': circleOpacity
                        }">
</mgl-layer>